    /* element selector */
    h1, #hobbies {
        color: red;
        background-color: yellow;
    }
    
    /* ID selector */

    #hobbies {
        border: 2px solid green;
    }

    /* applies to all li elements that are children of #hobbies
    (any element with that id) */
    #hobbies li {
        background-color: lightblue;
    }

    /* class selector */
    .big {
        font-size: 2em;
    }

    li:hover, #h {
        background: lightgreen;
    }
